@import'./variables.styl';

.content-block
  padding 60px 0
  border 1px solid blue

.first-page
  position relative
  border 1px solid red
  height 750px
  background-image url('./../assets/image/bg_first_page.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  &__background
    height 100%
    background linear-gradient(45deg, alpha($white, 1) 0%, alpha($white, 0) 100%)


