.header
  position relative
  border 1px solid red
  height 900px
  background-image url('./../assets/image/bg_head.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
